.mein-menu .navbar .logo {
    height: 27px;
    transform: scale(2);
}

@media only screen and (min-width: 992px) {
    .mein-menu .navbar .logo {
        height: 40px;
    }
}

.banner .hero-area .banner-content h2.subtitle {
    color: #63d4f7;
}

.banner .hero-area .banner-content h3.head {
    color: #ffffff;
    padding: 22px 0px 34px;
}

.feature .section-head ul.list li.list-item {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 3.801px 12.432px 38px 0px rgb(207 200 234 / 26%);
    box-shadow: 3.801px 12.432px 38px 0px rgb(207 200 234 / 26%);
    padding: 30px 30px 30px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
