.mein-menu .navbar .logo {
    height: 27px;
    transform: scale(2);
}

@media only screen and (min-width: 992px) {
    .mein-menu .navbar .logo {
        height: 40px;
    }
}

.banner .hero-area .banner-content h2.subtitle {
    color: #63d4f7;
}

.banner .hero-area .banner-content h3.head {
    color: #ffffff;
    padding: 22px 0px 34px;
}
