#header .header .navbar-brand img.navbar-brand-sticky {
    transform: scale(1.5);
    transform-origin: left top;
}

@media only screen and (min-width: 992px) {
    #header .header .navbar-brand img.navbar-brand-sticky {
        transform: scale(2);
    }
}

.hero-section span::after {
    content: none;
}
